@model ResumeManager.UI.Models.DraftQualification.QualificationViewModels

<div class="panel-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="@Model.AddQualificationViewModel.Name" class="control-label req"></label>
                <input id="Name" asp-for="@Model.AddQualificationViewModel.Name" placeholder="Enter the qualification name" class="form-control" />
                <span asp-validation-for="@Model.AddQualificationViewModel.Name" id="NameError" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.AddQualificationViewModel.Type" class="control-label req"></label>
                <input id="Type" asp-for="@Model.AddQualificationViewModel.Type" placeholder="Certificate IV, Diploma, etc.." class="form-control" />
                <span asp-validation-for="@Model.AddQualificationViewModel.Type" id="TypeError" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.AddQualificationViewModel.Institution" class="control-label req"></label>
                <input asp-for="@Model.AddQualificationViewModel.Institution" id="Institution" placeholder="Enter the name of the institution" class="form-control" />
                <span asp-validation-for="@Model.AddQualificationViewModel.Institution" id="InstitutionError" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>
                    <label asp-for="@Model.AddQualificationViewModel.DateAquired" class="control-label req"></label>
                </div>
                <input id="DateAquired" asp-for="@Model.AddQualificationViewModel.DateAquired" />
                <span asp-validation-for="@Model.AddQualificationViewModel.DateAquired" id="DateAquiredError" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="@Model.AddQualificationViewModel.OtherInfo" class="control-label"></label>
                <textarea id="OtherInfo" asp-for="@Model.AddQualificationViewModel.OtherInfo" rows="10" placeholder="Enter other relevant information" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <button type="button" id="addQualification" class="btn btn-primary pull-right">Add Qualification</button>
</div>
<hr />

<div id="QualificationListContainer"></div>


@* Update Qualification Modal form *@
<div class="modal fade" id="qualification-editor" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @Html.Partial("_UpdateQualificationPartial", Model.UpdateQualificationViewModel)
        </div>
    </div>
</div>




<script>
var resumeDraftId = @ViewData["resumeDraftId"];
</script>

<script id="qualifications-template" type="text/x-handlebars-template">
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Date Aquired</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each qualification}}
            <tr>
                <td>{{name}}</td>
                <td>{{type}}</td>
                <td>{{formatDate dateAquired "YYYY - MMMM"}}</td>
                <td>
                    <button type="button" class="btn viewQual" data-id="{{id}}"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></button>
                    <button type="button" href="#qualification-editor" data-id="{{id}}" data-toggle="modal" class="btn editQual"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                    <button type="button" class="btn removeQual" data-id="{{id}}"><i class="fa fa-times text-danger fa-lg" aria-hidden="true"></i></button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
