@model ResumeManager.UI.Models.DraftQualification.UpdateQualificationViewModel

<div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Edit Qualification</h3>
</div>
<input type="hidden" id="QualId" />
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label req"></label>
                <input id="NameModal" asp-for="@Model.Name" placeholder="Enter the qualification name" class="form-control" />
                <span asp-validation-for="@Model.Name" id="NameModalError" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Type" class="control-label req"></label>
                <input id="TypeModal" asp-for="@Model.Type" placeholder="Certificate IV, Diploma, etc.." class="form-control" />
                <span asp-validation-for="@Model.Type" id="TypeModalError" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Institution" class="control-label req"></label>
                <input asp-for="@Model.Institution" id="InstitutionModal" placeholder="Enter the name of the institution" class="form-control" />
                <span asp-validation-for="@Model.Institution" id="InstitutionModalError" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>
                    <label asp-for="@Model.DateAquired" class="control-label req"></label>
                </div>
                <input id="DateAquiredModal" asp-for="@Model.DateAquired" />
                <span asp-validation-for="@Model.DateAquired" id="DateAquiredModalError" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="@Model.OtherInfo" class="control-label"></label>
                <textarea id="OtherInfoModal" asp-for="@Model.OtherInfo" rows="10" placeholder="Enter other relevant information" class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn" data-dismiss="modal">Cancel</a>
    <a id="saveChangesModal" class="btn btn-primary">Save Changes</a>
</div>