@model ResumeManager.UI.Models.ResumeDraft.ResumeDraftCreateViewModel

@{
    ViewData["Title"] = "CreateResumeDraft";
}

<h2>Create Resume Draft</h2>

<form id="createResumeDraftForm" asp-controller="ResumeDraft" asp-action="Create" enctype="multipart/form-data">

    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#ContactDetails"><i class="fa fa-user" aria-hidden="true"></i> Contact Details</a></li>
            <li><a data-toggle="tab" href="#Skills"><i class="fa fa-rocket" aria-hidden="true"></i> Skills</a></li>
            <li><a data-toggle="tab" href="#PersonalSkills"><i class="fa fa-align-center" aria-hidden="true"></i> Personal Skills</a></li>
            <li><a data-toggle="tab" href="#Educations"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</a></li>
            <li><a data-toggle="tab" href="#Experience"><i class="fa fa-briefcase" aria-hidden="true"></i> Experience</a></li>
            <li><a data-toggle="tab" href="#Interests"><i class="fa fa-futbol-o" aria-hidden="true"></i> Interests</a></li>
        </ul>
        <div class="tab-content">
            <div id="ContactDetails" class="tab-pane fade in active">
                @Html.Partial("~/Views/ResumeDraft/_ContactDetailsPartial.cshtml", Model)
            </div>
            <div id="Skills" class="tab-pane fade">
                @Html.Partial("~/Views/DraftSkills/_SkillsPartial.cshtml", Model)
            </div>
            <div id="PersonalSkills" class="tab-pane fade">
                @Html.Partial("~/Views/ResumeDraft/_PersonalSkillsPartial.cshtml", Model)
            </div>
            <div id="Educations" class="tab-pane fade">
                @{ViewData["resumeDraftId"] = Model.Id;}
                @Html.Partial("~/Views/DraftEducation/_EducationsPartial.cshtml", Model.EducationViewModels, ViewData)
            </div>
            <div id="Experience" class="tab-pane fade">
                @*@Html.Partial("~/Views/ResumeDraft/_ExperiencesPartial.cshtml", Model.ExperienceViewModels, ViewData)*@
            </div>
            <div id="Interests" class="tab-pane fade">
                @Html.Partial("~/Views/DraftInterest/_InterestsPartial.cshtml", Model)
            </div>
        </div>
    </div>
    <hr />
    <div id="submitArea" class="row m-t-2">
        <div class="col-md-12 p-a-1 text-xs-right">
            <a asp-action="Index" class="btn btn-primary">Cancel Draft</a>
            <button type="submit" formnovalidate="formnovalidate" class="btn btn-primary">Save Draft</button>
            <a asp-action="DraftPreview" class="btn btn-primary" asp-route-resumeDraftId="@Model.Id">Preview</a>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/handlebars/handlebars.js"></script>
    <script src="~/js/Site.js"></script>
    <script src="~/js/ContactDetails.js"></script>
    <script src="~/js/Skill.js"></script>
    <script src="~/js/Education.js"></script>
    <script src="~/js/Experience.js"></script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/js/Interest.js"></script>
}